<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ling.dao.UserMapper">
    <select id="getUserList" resultType="com.ling.pojo.User">
        select * from user;
    </select>
<!--    可以把属性直接取出来-->
    <select id="getUserById" parameterType="int" resultType="user">
        select * from user where id = #{id};
    </select>

<!--    <select id="getUserById" parameterType="int" resultMap="UserMap">-->
<!--        select * from user where id = #{id};-->
<!--    </select>-->
    <resultMap id="UserMap" type="User">
<!--        column数据库中的字段，映射到实体类中的属性-->
<!--        <result column="id" property="id" />-->
<!--        <result column="name" property="name" />-->
        <result column="pwd" property="password" />
    </resultMap>

<select id="getUserByLimit" parameterType="map" resultType="user">
    select * from user limit #{startIndex},#{pageSize};
</select>


</mapper>